<div class="card-header" {{action onClick}} style="{{style}}">
    <div class="card-header-text d-inline-block">
        {{yield}}
    </div>

    {{#if collapsible}}
        <div class="card-actions d-inline-block pull-right">
            <i class="{{if collapsed collapsedIcon defaultIcon}}" aria-hidden="true"></i>
        </div>
    {{/if}}
</div>
