<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  {{#link-to 'index' class="navbar-brand" }}GASP{{/link-to}}

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {{#link-to 'examples' class="nav-item nav-link" }}Examples{{/link-to}}
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
